<!--
/**
 * File Name: users.component.html
 * Shows all users profile on Data Table
 * Created On: 25/08/2018
 * 
 * Author: Alokik Pathak 
 */
-->

<div  class = 'activity' >
  <div class="DataTable" >
    
    <!-- Filter Field -->
    <mat-form-field class='filter-field'>
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <!-- Spinner -->
    <div *ngIf="spinnerFlag">
      <mat-progress-spinner class="spinner" mode="indeterminate"></mat-progress-spinner>
    </div>

    <!-- Profiles Data Table -->
    <mat-table [dataSource]="dataSource"  matSort (matSortChange)='sortData($event)' class="mat-elevation-z8" >

      <!-- UserID Field-->
      <ng-container matColumnDef="___kp_UserID">

        <mat-header-cell *matHeaderCellDef mat-sort-header> User ID  </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.___kp_UserID}} </mat-cell>
      </ng-container>
 
      <!-- FirstName Field-->
      <ng-container matColumnDef="FirstName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.FirstName}} </mat-cell>
      </ng-container>
  
      <!-- LastName Field-->
      <ng-container matColumnDef="LastName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.LastName}} </mat-cell>
      </ng-container>

      <!-- Email Field-->
      <ng-container   matColumnDef="_ka_Email">
        <mat-header-cell  class="column-large"  *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell  class="column-large"  *matCellDef="let user"> {{ user._ka_Email }} </mat-cell>
      </ng-container>

      <!-- Mobile Field-->
      <ng-container matColumnDef="_ka_Mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user._ka_Mobile }} </mat-cell>
      </ng-container>

      <!-- Address field -->
      <ng-container matColumnDef="Address">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.Address }} </mat-cell>
      </ng-container>

      <!-- Designation field -->
      <ng-container matColumnDef="Designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.Designation }} </mat-cell>
      </ng-container>

      <!-- UserID Search Header -->
      <ng-container matColumnDef="searchId">
        
        <th mat-header-cell *matHeaderCellDef >

          <!-- Column Filter UserId -->
          <mat-form-field  class='search-field'>
            <input matInput (keyup)="applyFilterColumn($event.target.value, '___kp_UserID' )" placeholder="Search Id">
          </mat-form-field>

        </th>
      </ng-container>

      <!-- FirstName Search Header -->
      <ng-container matColumnDef="searchFName">
        
        <th   mat-header-cell *matHeaderCellDef>

          <!-- Column Filter UserId -->
          <mat-form-field   class='search-field'>
              <input matInput (keyup)="applyFilterColumn($event.target.value, 'FirstName' )" placeholder="FirstName">
          </mat-form-field>            
          
        </th>

      </ng-container>

      <!-- LastName Search Header -->
      <ng-container matColumnDef="searchLName">
        <th mat-header-cell *matHeaderCellDef>

          <!-- Column Filter LastName-->
          <mat-form-field class='search-field'>
              <input matInput (keyup)="applyFilterColumn($event.target.value, 'LastName' )" placeholder="LastName">
          </mat-form-field>            
        
        </th>
      </ng-container>      

      <!-- Email Search Header -->
      <ng-container matColumnDef="searchEmail">
        
        <th  mat-header-cell *matHeaderCellDef>

          <!-- Column Filter Email -->
          <mat-form-field class='search-field column-large'>
            <input matInput (keyup)="applyFilterColumn($event.target.value, '_ka_Email' )" placeholder="Email">
          </mat-form-field> 

        </th>
      </ng-container>

      <!-- Phone Search Header -->
      <ng-container matColumnDef="searchMobile">
          <th mat-header-cell *matHeaderCellDef>

            <!-- Column Filter Email -->
            <mat-form-field class='search-field'>
              <input matInput (keyup)="applyFilterColumn($event.target.value, '_ka_Mobile' )" placeholder="Mobile">
            </mat-form-field>

          </th>
      </ng-container>

      <!-- Designation Search Header -->
      <ng-container matColumnDef="searchDesignation">
          <th mat-header-cell *matHeaderCellDef>

            <!-- Column Filter Designation -->
            <mat-form-field class='search-field'>
              <input matInput (keyup)="applyFilterColumn($event.target.value, 'Designation' )" placeholder="Designation">
            </mat-form-field>
          </th>
      </ng-container>

      <!-- Address Search Header -->
      <ng-container matColumnDef="searchAddress">
          <th mat-header-cell *matHeaderCellDef>

            <!-- Column Filter Email -->
            <mat-form-field class='search-field'>
                <input matInput (keyup)="applyFilterColumn($event.target.value, 'Address' )" placeholder="Address">
            </mat-form-field>

          </th>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

      <mat-header-row *matHeaderRowDef="['searchId', 'searchFName', 'searchLName', 'searchEmail', 'searchMobile', 'searchDesignation', 'searchAddress']"
      class="second-header-row"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)" ></mat-row>
  
    </mat-table>
  
    <!-- Pagination -->
    <mat-paginator [pageSize]='5' [pageSizeOptions]="[5, 10, 20]" 
    [pageIndex]="0" [showFirstLastButtons]="true" (page)='pageEvent = getPaginatorData($event)' ></mat-paginator>

  
  </div>
  
  
  
  